.app.dark {
    --bg-color: #09095b;
    --inverted-bg-color: #e8e8ea;

    --primary-color: #049604;
    --secondary-color: #04ff04;
    --inverted-primary-color: #002db5;
    --inverted-secondary-color: #0857ff;

}